<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Failed - Retry</title>
</head>
<body>
    <div class="container">
        <h3>Your Total Score:</h3>
        <h1><%= totalScore %></h1>
        <a class="button" href="/">Try Again</a>
    </div>

<%- include("partials/footer") %>
