body {
    background-image: url(bg-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 10px;
}

h1 {
    font-size: 2.5rem;
}

input {
    padding: 10px;
}

footer {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background-color: #fff;
    padding: 10px;
    color: #2b6d57;
}

footer p {
    text-transform: uppercase;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    margin: 10% auto;
    max-width: 40%;
    height: 300px;
    padding: 20px;
    font-family: "ubuntu", sans-serif;
    text-align: center;
    box-shadow: 2px 2px 5px #c9c7c7;
}

.answer-box {
    width: 80%;
    text-align: center;
    font-family: "ubuntu", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 1px 1px 2px #c9c7c7;
}

.button {
    width: 85%;
    background-color: #05976a;
    border: none;
    box-shadow: 2px 2px 3px #c9c7c7;
    font-family: "ubuntu", sans-serif;
    font-size: 1.2rem;
    color: #fff;
}

.button:hover {
    background-color: #2b6d57;
}

@media screen and (max-width: 600px) {
    body {
        background-size: 400%;
        background-position: center;
    }

    h1 {
        font-size: 2rem;
    }

    .container {
        margin: 35% auto;
        max-width: 60%;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}
